:root {
    --background_Color: #252525;
    --text_Color: #dfdfdf;
    --box_Color: #414141;
    --box_Header_Color: #1d1d1d;
    --queue_Element_Color: #383838;
    --queue_Element_Hover_Color: #5e5e5e;
    --main_Font: 'Montserrat', sans-serif;
    --header_Height: 40px;
}

body {
    background-color: var(--background_Color);
    color: var(--text_Color);
    font-family: var(--main_Font);
    font-weight: 700;
    scrollbar-color: #ffffff33 transparent;
    scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff33;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff80;
}

.shadow {
    position: fixed;
    width: 50px;
    height: 50px;
    opacity: 0.05;
}

#full_Player {
    background-color: var(--box_Color);
    width: 355px;
    height: 435px;
    min-width: 355px;
    min-height: 200px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    resize: both;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    position: absolute;
    padding: 20px;
    transition: min-height 0.5s ease;
}

#player_Header {
    position: absolute;
    top: 0;
    background-color: var(--box_Header_Color);
    height: var(--header_Height);
    width: 100%;
    cursor: grab;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 75%;
    padding-left: 10px;
    box-sizing: border-box;
}

#video_Player {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    padding: 0 0 20px;
}

.name {
    width: 100%;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.song_Name {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 10s linear infinite;
    white-space: nowrap;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}




.playtime {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 75%;
}

#playtime_Slider {
    width: 95%;
}




.play_Buttons {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.play_Buttons button {
    background: var(--box_Header_Color);
    color: var(--text_Color);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play_Buttons button:hover {
    background-color: #6565f1;
    transform: scale(1.05);
}

.play_Buttons button:active {
    background-color: #5757b6;
    color: #ffffff;
}

#play_Button {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

#loop_Button {
    background: var(--box_Header_Color);
    color: var(--text_Color);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2%;
    top: 0%;
}

#loop_Button:hover {
    background-color: #6565f1;
    transform: scale(1.05);
}

#loop_Button.active {
    background-color: #5757b6;
    color: #ffffff;
}





#queue_Box {
    background-color: var(--box_Color);
    width: 355px;
    height: 350px;
    min-width: 355px;
    min-height: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    resize: both;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 520px;
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

#queue_Header {
    flex-shrink: 0;
    background-color: var(--box_Header_Color);
    height: var(--header_Height);
    width: 100%;
    min-height: var(--header_Height);
    cursor: grab;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 75%;
    padding-left: 10px;
    box-sizing: border-box;
}

#queue_Contents {
    height: auto;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scrollbar-gutter: stable;
    overflow-y: auto;
}

#queue_Text {
    font-family: var(--main_Font);
    font-size: 14px;
    color: var(--text_Color);
    opacity: 0.7;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    cursor: default;
}

#queue_Add_Text {
    font-size: 60px;
    opacity: 0.7;
    text-align: center;
    font-weight: 1000;
    cursor: default;
}

.queue_Element {
    background-color: var(--queue_Element_Color);
    border-bottom: 2px solid black;
    height: 70px;
    width: 100%;
    display:flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;
}

.queue_Element:hover {
    background-color: var(--queue_Element_Hover_Color);
}

.queue_Element.current {
    background-color: #5757b6;
}

.queue_Element.current:hover {
    background-color: #6565f1;
}

.drag_Handle {
    font-size: 25px;
    margin-right: 0px;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.queue_Element:hover .drag_Handle {
    opacity: 1;
}

.queue_Drop_Indicator {
    height: 3px !important;
    background-color: #3cff00 !important;
    width: 100% !important;
    flex-shrink: 0;
}

.queue_Text {
    display: inline-block;
    vertical-align: middle;
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    mask-image: linear-gradient(to right, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
    cursor: pointer;
}

#queue_Box.drag-over {
    background-color: rgb(127, 147, 160);
    transition: 0.2s ease;
}

.queue_Remove_Button {
    background-color: var(--box_Header_Color);
    color: var(--text_Color);
    border: none;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    font-size: 80%;
    margin-right: 8px;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.2s ease, transform 0.1s ease, opacity 0.3s;
}

.queue_Remove_Button:hover {
    background-color: #441212;
}

.queue_Element:hover .queue_Remove_Button {
    opacity: 1;
}

.queue_Remove_Button:active {
    transform: scale(0.95);
    background-color: #812121;
}

.outer-queue-content {
    cursor: pointer;
    flex: 1;
    margin: 0 10px;
    display: flex;
    overflow: hidden;
}

.queue-content {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    mask-image: linear-gradient(to right, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
    gap: 10px;
}

.queue-thumbnail {
    width: 80px;
    height: 45px;
    border-radius: 5px;
    object-fit: cover;
    background-color: var(--box_Header_Color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: var(--text_Color);
}

.queue-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.queue-thumbnail::before {
    content: "?";
    font-size: 25px;
}

.queue-thumbnail.has-thumbnail::before {
    content: "";
}

.queue-info {
    font-weight: normal;
    font-size: 12px;
    opacity: 0.65;
}






#search_Box {
    background-color: var(--box_Color);
    width: 275px;
    height: 100px;
    min-width: 275px;
    min-height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    resize: both;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 520px;
    border-radius: 10px;
    transition: background-color 0.2s ease-out, min-width 0.3s ease, min-height 0.3s ease;
}

#search_Header {
    background-color: var(--box_Header_Color);
    height: var(--header_Height);
    width: 100%;
    min-height: var(--header_Height);
    cursor: grab;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 75%;
    padding-left: 10px;
    box-sizing: border-box;
}

#search_Result_Area {
    height: 85%;
    width: 100%;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scrollbar-gutter: stable;
    padding: 0 10px;
    box-sizing: border-box;

}

#search_Area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
    gap: 3px;
}

#search_Area input {
    flex: 1;
    width: 65%;
    padding: 3px 8px;
}

#search_Area button {
    padding: 3px 5px;
    cursor: pointer;
}

#search_Result {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.search-result {
    display: flex;
    flex: 1;
    cursor: pointer;
    width: 96%;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    background: var(--queue_Element_Color);
    transition: all 0.2s ease;
}

.search-result:hover {
    background: var(--queue_Element_Hover_Color);
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.85);
}

.search-result:active {
    transform: translateY(0px);
}

.search-thumbnail {
    width: 160px;
    height: 90px;
    border-radius: 6px;
    object-fit: cover;
}

.search-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 45px;
    min-width: 0;
}

.search-title {
    color: var(--text_Color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.search-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search-artist {
    font-weight: normal;
    font-size: 12px;
    opacity: 0.65;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.search-duration {
    font-weight: normal;
    font-size: 12px;
    opacity: 0.65;
}




#library_Box {
    background-color: var(--box_Color);
    width: 300px;
    height: 250px;
    min-width: 300px;
    min-height: 170px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    resize: both;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 520px;
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

#library_Header {
    flex-shrink: 0;
    background-color: var(--box_Header_Color);
    height: var(--header_Height);
    width: 100%;
    min-height: var(--header_Height);
    cursor: grab;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 75%;
    padding-left: 10px;
    box-sizing: border-box;
}

#library_Contents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    scrollbar-gutter: stable;
    overflow-y: auto;
    padding: 6px;
    box-sizing: border-box;
    gap: 4px;
}

#library_Box.drag-over {
    background-color: rgb(127, 147, 160);
    transition: 0.2s ease;
}

.library_element {
    background-color: var(--queue_Element_Color);
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    transition: all 0.2s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.library_element:hover {
    background-color: var(--queue_Element_Hover_Color);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.85);
}

.library_element:active {
    transform: translateY(0px);
}

.library_thumbnail {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 4px;
    object-fit: cover;
    background-color: var(--box_Header_Color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: var(--text_Color);
}

.library_thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.library_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    min-width: 0;
    overflow: hidden;
}


.library_title {
    font-family: var(--main_Font);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 3px 0px 0px 0px;
    color: var(--text_Color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.library_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: rgba(223, 223, 223, 0.7);
    margin-top: auto;
}

.library_artist {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.library_duration {
    font-weight: 500;
    opacity: 0.8;
    flex-shrink: 0;
}

.library_remove_btn {
    background-color: var(--box_Header_Color);
    color: var(--text_Color);
    border: none;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.2s ease;
    opacity: 0.7;
}

.library_remove_btn:hover {
    background-color: #441212;
    transform: scale(1.05);
    opacity: 1;
}

.library_remove_btn:active {
    transform: scale(0.95);
    background-color: #812121;
}

.library_thumbnail::before {
    content: "?";
    font-size: 25px;
}

.library_thumbnail.has-thumbnail::before {
    content: "";
}

.loading-text {
    font-family: var(--main_Font);
    font-size: 14px;
    color: var(--text_Color);
    opacity: 0.7;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-weight: 500;
    cursor: default;
}
.add-text {
    font-size: 60px;
    opacity: 0.7;
    text-align: center;
    font-weight: 1000;
    cursor: default;
}